@model HW6.Models.ViewModels.ChosenCategory

@{
    ViewBag.Title = "ChosenCategory";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="~/Home/Index">Adventure Works Biking Store</a>
        </div>
        <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
            @foreach (var item in Model.ProductCategories)
            {
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">@item.Name <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        @foreach (var cat in item.ProductSubcategories)
                        {
                            <li>@Html.ActionLink(cat.Name, "ChosenCategory", new { id = cat.ProductSubcategoryID })</li> <!--I need to pass the ProductSubcategoryID-->
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>

<h2>You're looking at all of our @Model.PageTitle</h2> <!--Change this to chosen sub category name-->

<table>
    <tr>
        <th>Product Name</th>
        <th>Product Photo</th>
        <th>Reviews</th>
    </tr>

    <!--Display list of items of the subcategory chosen-->
    @foreach (var item in Model.ProductSubcategories)
    {

        <tr>
            <td>@Html.ActionLink(@item.Name, "Review", new { id = item.ProductID })</td>
            @foreach (var photo in item.ProductProductPhotoes)
            {
                <td><img src="data:image;base64,@System.Convert.ToBase64String(photo.ProductPhoto.LargePhoto)" /> </td>
            }
            @foreach (var review in item.ProductReviews)
            {
                <td>@review.Comments</td>
            }
        </tr>
    }
</table>